n8n/workflows/weekly-linkedin-post.json
{
  "name": "The Event - Weekly LinkedIn Post",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "={{ $env.WEEKLY_CRON_MINUTE || '0' }} {{ $env.WEEKLY_CRON_HOUR || '10' }} * * {{ $env.WEEKLY_CRON_DAY || '4' }}"
            }
          ]
        }
      },
      "id": "cron-trigger",
      "name": "Every Thursday",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.BACKEND_URL || 'http://te-backend:3001' }}/api/webhook/generate-and-publish",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Webhook-Secret",
              "value": "={{ $env.SESSION_SECRET }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "timeout": 120000,
          "redirect": {
            "redirect": {}
          }
        }
      },
      "id": "http-generate",
      "name": "Generate & Publish",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [500, 300],
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 30000
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-success",
              "leftValue": "={{ $json.postId }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "isNotEmpty"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "check-result",
      "name": "Post Created?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [750, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "log-success",
              "name": "message",
              "value": "=Post LinkedIn généré avec succès. ID: {{ $json.postId }}, Statut: {{ $json.status }}, Publié: {{ $json.published }}",
              "type": "string"
            }
          ]
        }
      },
      "id": "success-log",
      "name": "Log Success",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1000, 200]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "log-error",
              "name": "message",
              "value": "=ERREUR génération post LinkedIn: {{ $json.error || 'Erreur inconnue' }}",
              "type": "string"
            }
          ]
        }
      },
      "id": "error-log",
      "name": "Log Error",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1000, 400]
    }
  ],
  "connections": {
    "Every Thursday": {
      "main": [
        [{ "node": "Generate & Publish", "type": "main", "index": 0 }]
      ]
    },
    "Generate & Publish": {
      "main": [
        [{ "node": "Post Created?", "type": "main", "index": 0 }]
      ]
    },
    "Post Created?": {
      "main": [
        [{ "node": "Log Success", "type": "main", "index": 0 }],
        [{ "node": "Log Error", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/Brussels",
    "saveExecutionProgress": true,
    "saveManualExecutions": true,
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all"
  },
  "tags": [
    { "name": "linkedin" },
    { "name": "weekly" },
    { "name": "content" }
  ]
}
